.title-head-7{
    text-align: center; 
    font-size: 46px;
    font-family: sans-serif;
}
.title-7{
    margin-top: 0px; 
    cursor: pointer; 
    outline: none;
}

.col-iner-text{
    text-align: center; 
    font-size: 46px;
    font-family: sans-serif;
}