.image-container {
  margin-top: 20px;
  outline: none;
  cursor: pointer;
  margin-bottom: 52px;
}
.image-container-inner {
  display: flex;
  justify-content: center;
}
.image-container-inner-style {
  width: 1059.55px;
  height: 596px;
}

.image-style {
  width: 100%;
  height: auto;
}

.button-tag {
  margin-top: 10px;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.button-link-tag {
  color: rgb(255, 255, 255);
  font-weight: 600;
  background-color: rgb(8, 155, 8);
  font-size: 20px;
  text-decoration: none;
}
.text-decoration {
  text-align: center;
  color: rgb(255, 0, 0);
}
.Links {
  margin-top: 10px;
  outline: none;
  cursor: pointer;
}
.title-head {
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
}

.second-container-inner {
  margin-top: 5px;
  outline: none;
  cursor: pointer;
}
.elButtonRounded {
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-bottom: 4px solid rgba(0, 0, 0, 0.13);
  box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.22);
  border-radius: 6pxelButtonRounded-link;
}

.elButtonRounded:hover {
  box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.22),
    0 233px 233px 0 rgba(255, 255, 255, 0.12) inset;
}
.elBtnVP_10 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
/* .elBTN_b_1 {
  border: 1px solid rgba(0, 0, 0, 0.2);
} */
/* .elButton {
    margin-right: auto;
    margin-left: auto;
    color: #FFF;
    font-weight: bold;
    display: inline-block;
    -ms-transform: all .2s ease-in-out;
    -webkit-transform: all .2s ease-in-out;
    transform: all .2s ease-in-out;
    text-align: center !important;
    text-decoration: none !important;
} */