#IntercomDefaultWidget {
  display: none;
}
.selectAW-date-demo,
.elTicketAddToCalendar,
.elTicketAddToCalendarV2 {
  display: none;
}
.video-js {
  padding-top: 56.25%;
}
.vjs-big-play-button,
.vjs-control-bar {
  z-index: 10 !important;
}
.vjs-fullscreen {
  padding-top: 0;
}
